<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mailtotodoist.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>024893F8-C949-4834-A822-F5F8F9F5DF9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2DAA472-6FD0-4E8F-84A3-CB6D0F0DCB32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DA34818-178B-4E13-A529-DB1CC620CBDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>681A9AE4-D95F-459F-81BD-295AA7E3CEB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4689ED7F-4AD3-449C-8D5B-3D03BA39E8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB76931E-0882-4614-9362-992C7D6B93B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A30F1992-E316-4182-A50B-FF9A59F6379A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>624AA17A-7872-4A08-BC37-B55FF08CD5F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8421F0E-70B0-47C7-A7DD-0A5EB058E3C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F245868E-ECBC-4BBB-99CC-8916866BED11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2DAA472-6FD0-4E8F-84A3-CB6D0F0DCB32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4689ED7F-4AD3-449C-8D5B-3D03BA39E8AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB76931E-0882-4614-9362-992C7D6B93B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0279D18-F159-465A-B736-E5802858A252</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0279D18-F159-465A-B736-E5802858A252</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1021E58-CE57-4E88-B47C-74770EBE0D0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1021E58-CE57-4E88-B47C-74770EBE0D0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A30F1992-E316-4182-A50B-FF9A59F6379A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Gilbert</string>
	<key>description</key>
	<string>Copy task to todoist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail to Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source .venv/bin/activate
./MarkMailasTodo.scpt 2&gt;&amp;1
./SelectedMailToJSON.scpt 2&gt;&amp;1 | ./sendMailToTodoist.py ${id} "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A30F1992-E316-4182-A50B-FF9A59F6379A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>m2t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source .venv/bin/activate
python3 getTodoistProjects.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Checking with todoist</string>
				<key>title</key>
				<string>Checking</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2DAA472-6FD0-4E8F-84A3-CB6D0F0DCB32</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0279D18-F159-465A-B736-E5802858A252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>624AA17A-7872-4A08-BC37-B55FF08CD5F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>E1021E58-CE57-4E88-B47C-74770EBE0D0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>projectname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4689ED7F-4AD3-449C-8D5B-3D03BA39E8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {var:id}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>DB76931E-0882-4614-9362-992C7D6B93B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.mail</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8421F0E-70B0-47C7-A7DD-0A5EB058E3C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source .venv/bin/activate
./ClearMailTodo.scpt 2&gt;&amp;1
./SelectedMailToJSON.scpt 2&gt;&amp;1 | ./clearMailinTodoist.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F245868E-ECBC-4BBB-99CC-8916866BED11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.mail</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>024893F8-C949-4834-A822-F5F8F9F5DF9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>setup mail to todoist</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Setup Mail To Todoist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DA34818-178B-4E13-A529-DB1CC620CBDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./setup.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>681A9AE4-D95F-459F-81BD-295AA7E3CEB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>024893F8-C949-4834-A822-F5F8F9F5DF9C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>0DA34818-178B-4E13-A529-DB1CC620CBDB</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4689ED7F-4AD3-449C-8D5B-3D03BA39E8AF</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>624AA17A-7872-4A08-BC37-B55FF08CD5F7</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>681A9AE4-D95F-459F-81BD-295AA7E3CEB6</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>A30F1992-E316-4182-A50B-FF9A59F6379A</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>B8421F0E-70B0-47C7-A7DD-0A5EB058E3C5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>C2DAA472-6FD0-4E8F-84A3-CB6D0F0DCB32</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>DB76931E-0882-4614-9362-992C7D6B93B0</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E0279D18-F159-465A-B736-E5802858A252</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E1021E58-CE57-4E88-B47C-74770EBE0D0E</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>F245868E-ECBC-4BBB-99CC-8916866BED11</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>todoist_api_key</key>
		<string>f0185f89545c2734aee5a9d229bb9aad3db0478d</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>todoist_api_key</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
